
table {
	width: 100%;
	table-layout: fixed;
	font-weight: bold;
}

th {
	height: 20px;
	width: 20px;
}

td {
	text-align: center;
	vertical-align: top;
	height: 100px;
}

td > div {
	max-height: 2.4em;
	overflow: hidden;
}

.today {
	border: 2px solid red;
}

.past {
	background: gray;
}

div.personal {
	background: red;
	color: white;
	border-radius: 5px;
}

div.birthdays {
	border-radius: 5px;
	border: 2px solid red;
}

div.birthdays::before {
	content: "🎂";
	font-variant-emoji: text;
}

td.holidays, .Sun {
	background: black;
	color: white;
}
